<div class="container">

<h1>Add new cohort - will link to the partial from teacher's portal.</h1>

<%= form_for :cohort, url: cohorts_path  do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>

    <%= f.label :teacher_id, 'I am.. ' %><br>
    <%= select_tag(:teacher_id, options_for_select(@teachers_drop)) %>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>
