<!DOCTYPE html>
<html>
<head>
  <title>devBootcamp Rails Talk</title>
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag     '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag     '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'%>
  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--
!! TODO:
teacher login
teacher register
logout -->

<%= yield %>

</body>
</html>
